* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

body {
  background-image: url(background.svg);
  background-size: cover;
  background-attachment: fixed;
}

.images {
  padding: 2rem 5%;
}

.photosHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;
}

.images .images-container img:hover {
  transform: scale(1.01);
}

.images .images-container {
  columns: 15rem 3;
  gap: 1.4rem;
}

.images .images-container img {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
  opacity: 0;
  transform: translateY(-50px);
  animation: fallIn 0.6s ease forwards;
}

/* Keyframes for the fade-in animation */
@keyframes fallIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.images .images-container img:nth-child(1) {
  animation-delay: 0.05s;
}

.images .images-container img:nth-child(2) {
  animation-delay: 0.1s;
}

.images .images-container img:nth-child(3) {
  animation-delay: 0.15s;
}

.images .images-container img:nth-child(4) {
  animation-delay: 0.2s;
}

.images .images-container img:nth-child(5) {
  animation-delay: 0.25s;
}

.images .images-container img:nth-child(6) {
  animation-delay: 0.3s;
}

.images .images-container img:nth-child(7) {
  animation-delay: 0.35s;
}

.images .images-container img:nth-child(8) {
  animation-delay: 0.4s;
}

.images .images-container img:nth-child(9) {
  animation-delay: 0.45s;
}

.images .images-container img:nth-child(10) {
  animation-delay: 0.5s;
}

.images .images-container img:nth-child(11) {
  animation-delay: 0.55s;
}

.images .images-container img:nth-child(12) {
  animation-delay: 0.6s;
}

.images .images-container img:nth-child(13) {
  animation-delay: 0.65s;
}

.images .images-container img:nth-child(14) {
  animation-delay: 0.7s;
}

.images .images-container img:nth-child(15) {
  animation-delay: 0.75s;
}

.images .images-container img:nth-child(16) {
  animation-delay: 0.8s;
}

.images .images-container img:nth-child(17) {
  animation-delay: 0.85s;
}

.images .images-container img:nth-child(18) {
  animation-delay: 0.9s;
}

.images .images-container img:nth-child(19) {
  animation-delay: 0.95s;
}

.images .images-container img:nth-child(20) {
  animation-delay: 1.0s;
}

.images .images-container img:nth-child(21) {
  animation-delay: 1.05s;
}

.images .images-container img:nth-child(22) {
  animation-delay: 1.1s;
}

.images .images-container img:nth-child(23) {
  animation-delay: 1.15s;
}

.images .images-container img:nth-child(24) {
  animation-delay: 1.2s;
}

.images .images-container img:nth-child(25) {
  animation-delay: 1.25s;
}

.images .images-container img:nth-child(26) {
  animation-delay: 1.3s;
}

.images .images-container img:nth-child(27) {
  animation-delay: 1.35s;
}

.images .images-container img:nth-child(28) {
  animation-delay: 1.4s;
}

.images .images-container img:nth-child(29) {
  animation-delay: 1.45s;
}

.images .images-container img:nth-child(30) {
  animation-delay: 1.5s;
}

.images .images-container img:nth-child(31) {
  animation-delay: 1.55s;
}

.images .images-container img:nth-child(32) {
  animation-delay: 1.6s;
}

.images .images-container img:nth-child(33) {
  animation-delay: 1.65s;
}

.images .images-container img:nth-child(34) {
  animation-delay: 1.7s;
}

.images .images-container img:nth-child(35) {
  animation-delay: 1.75s;
}

.images .images-container img:nth-child(36) {
  animation-delay: 1.8s;
}

.images .images-container img:nth-child(37) {
  animation-delay: 1.85s;
}

.images .images-container img:nth-child(38) {
  animation-delay: 1.9s;
}

.images .images-container img:nth-child(39) {
  animation-delay: 1.95s;
}

.images .images-container img:nth-child(40) {
  animation-delay: 2.0s;
}

.images .images-container img:nth-child(41) {
  animation-delay: 2.05s;
}

.images .images-container img:nth-child(42) {
  animation-delay: 2.1s;
}

.images .images-container img:nth-child(43) {
  animation-delay: 2.15s;
}

.images .images-container img:nth-child(44) {
  animation-delay: 2.2s;
}

.images .images-container img:nth-child(45) {
  animation-delay: 2.25s;
}

.images .images-container img:nth-child(46) {
  animation-delay: 2.3s;
}

.images .images-container img:nth-child(47) {
  animation-delay: 2.35s;
}
