html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* background-color: rgb(21, 21, 21); */
  background-image: url(background.svg);
  background-size: cover;
  background-attachment: fixed;
}

:root {
  --primary-color: rgb(249, 255, 127);
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Handjet";
  src: url("./fonts/Handjet-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Handjet-light";
  src: url("./fonts/Handjet-Light.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

#content {
  opacity: 0;
  transition: opacity 1s ease;
}

#content.fade-in {
  opacity: 1;
}

#projectContent {
  opacity: 0;
  transition: opacity 1s ease;
}

#projectContent.fade-in {
  opacity: 1;
}

.landingContainer {
  /* background-image: url(background2.svg);
  background-size: cover;
  background-repeat: no-repeat; */
  height: 800px;
  padding-left: 0; /* Ensure no padding is causing the offset */
}

#landingIMG {
  width: 80%;
  object-fit: cover;
  z-index: -1;
  user-select: none;
  -webkit-user-select: none;
}

header {
  color: #fff;
  padding: 10px 0;
  font-weight: 200;
  display: flex;
  border-bottom: 5px solid var(--primary-color); /* Add a bottom border */
  height: 100px;
  align-items: center;
  justify-content: center;
  font-family: "Handjet-light", sans-serif;
}

.headerName {
  font-size: 50px;
  font-weight: 100;
  padding-left: 20px;
  padding-top: 3px;
  font-family: "Handjet", sans-serif;
  color: white;
}

.nav1 {
  text-align: left;
  padding-left: 20px; /* Add padding to the right side */
  left: 0;
  position: absolute;
  font-size: larger;
}

.nav2 {
  text-align: right;
  position: absolute;
  right: 0;
  padding-right: 20px;
  font-size: larger;
}

.spacer {
  flex-grow: 1; /* Make the spacers fill the available space */
}
.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-list li:hover {
  color: var(--primary-color);
}

.nav-list li:first-child {
  margin-left: 0;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.nav-list li a:hover {
  color: var(--primary-color);
}

.ticker-wrap {
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-color);
  position: relative;
}

.ticker {
  display: flex;
  white-space: nowrap;
  animation: ticker 10s linear infinite;
}

.ticker-item {
  display: inline-block;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  color: #333;
}

/* Keyframes for animation */
@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.intro {
  color: white;
  width: 25%;
}

.hello {
  color: white;
  font-size: 80px;
  height: 100px;
  margin-bottom: 10px;
}

.subHello {
  padding-left: 2px;

  font-weight: 200;
}

.colored-word {
  color: var(--primary-color); /* Or any color you prefer */
}

/* Typing animation for title */

#aboutMeContainer {
  min-height: 550px;
  /* background-image: url(background2.svg);
  background-size: cover;
  background-repeat: no-repeat; */
}

#fadeInContainer {
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#fadeInContainer.visible {
  opacity: 1;
}

#headshot {
  width: 400px;
  margin-top: 50px;
  user-select: none;
  -webkit-user-select: none;
}

.aboutMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 150px;

  margin-top: 100px;
}

.aboutMeText {
  color: white;
  margin-right: 40px;
  min-height: 50vh;
  min-width: 70vh;
  margin-top: 100px;
  margin-left: 15px;
  width: 50%;
  font-weight: 300;
  position: relative;
}
.aboutMeTitle {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-family: "Handjet", sans-serif;
}

.aboutMeDescription {
  color: white;
  font-size: 16px;
  font-weight: 200;
}

.tab-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.tabs {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  font-weight: 200;
}

.tab {
  cursor: pointer;
  color: white;
  background-color: rgb(28, 28, 28);
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.5s;
}

.tab:hover {
  transform: scale(1.1);
}

#skillsTab {
  background: var(--primary-color);
  color: black;

}

.tab-content {
  margin-top: 20px;
  font-weight: 200;
  font-size: 20px;
  font-family: "Handjet-light", sans-serif;
}

#spacer {
  width: 25px;
}

#experienceContent {
  display: none;
}

#educationContent {
  display: none;
}

.projectCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-top: 30px;
}

.viewMoreButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.viewMoreButton {
  background-color: rgb(35, 35, 35);
  border: none;
  border-radius: 5px;
  width: 80px;
  height: 80px;
  color: rgb(255, 255, 255);
  padding: 10px;
  transition: 0.3s;
  text-align: center;
}

.viewMoreButton i {
  font-size: 35px;
}

.viewMoreButton:hover {
  transform: scale(1.1);
  background-color: var(--primary-color);
}

.additionalContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;

}

.navProjects {
  text-align: center;
  position: absolute;
  font-size: larger;
}

.projectsHeader{
  display:flex;
  justify-content: center;
  align-items: center;
}

.projectAndPhotosCard {
  min-width: 37vh; 
  min-height: 300px;
  background-color: rgb(35, 35, 35);
  border: 2px solid rgb(35, 35, 35);
  border-radius: 6px;
  transition: 0.3s;
  color: white;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  cursor: pointer;
  margin-top: 50px;
}

.projectAndPhotosCard img {
  position: absolute;
  font-size: xx-large;
  color: white;
  width: 30px;
  
}

.projectAndPhotosCard:hover {
  transform: scale(1.1); /* Scale the card by 1.2x when hovered */
}


.projectsAndPhotosTitle{
  font-family: "Handjet-light", sans-serif;
  font-size: xx-large;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--primary-color); /* Add a bottom border */
  margin-top: 35px;
}

.projectsAndPhotosText {
  position: absolute;
  margin-top: 13px;
  text-align: left;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 200;
}

.additionalCard {
  min-width: 35vh;
  height: 370px;
  background-color: rgb(35, 35, 35);
  gap: 20px;
  border: 2px solid rgb(35, 35, 35);
  border-radius: 6px;
  transition: 0.3s;
  color: white;
  position: relative;
  padding: 40px;
  cursor: pointer;
}

.additionalCard img {
  position: absolute;
  font-size: xx-large;
  color: black;
  width: 30px;
}
.cardButtons {
  /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
  width: 20%;
  font-size: small;
  position: absolute;
}

.projectButtonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.enterButton {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  bottom: 40px;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  font-size: small;
  position: absolute;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 90px;
}

.enterButton img {
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

.codeButton {
  background-color: var(--primary-color);
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  bottom: 40px;
  transition: 0.3s;
  width: 35px;
  height: 35px;
  font-size: small;
  position: absolute;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codeButton img {
  width: 25px;
  height: 25px;
  transition: 0.3s;
}

.codeButton:hover {
  transform: scale(1.1);
}

.codeButton img:hover {
  transform: scale(1.1);
}

.enterButton:hover {
  transform: scale(1.1);
}

.enterButton img:hover {
  transform: scale(1.1);
}
.projectTitle {
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  top: 90px;
  font-family: 'Handjet', sans-serif;
}

.projectText {
  position: absolute;
  top: 140px;
  text-align: left;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 200;
}

.additionalCard:hover {
  transform: scale(1.05);
  /* border-color: var(--primary-color); */
}

.additionalCard:hover .codeButton {
  transform: scale(1.05);
}

.additionalCard:hover .enterButton {
  transform: scale(1.05);
}

.contactMeContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  margin-bottom: 100px;
}

.contactMeTitle {
  color: white;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Handjet', sans-serif;
}

.contacts {
  color: white;
  align-items: left;
  text-align: left;
}

.socials {
  color: white;
  font-size: large;
  font-weight: 200;
  margin-bottom: 5px;
  transition: 0.3s;
}

.socials button {
  background: none;
  border: none;
  font-size: 28px;
  color: rgb(255, 255, 255);

  margin-right: 4px;
  transition: 0.3s;
}

.socials button:hover {
  color: var(--primary-color);
  transform: scale(1.2);
}

.emailNumber {
  color: white;
  font-size: large;
  font-weight: 200;
  margin-bottom: 15px;
}

#emailIcon {
  color: var(--primary-color);
}

#resumeNavButton {
  background-color: rgb(249, 255, 127);
  border-radius: 5px;
  border: none;
  color: rgb(0, 0, 0);
  transition: 0.3s;
  width: 100px;
  height: 35px;
  font-size: medium;
  font-family: 'Handjet-light';

  text-align: center;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.viewResumeButton {
  background-color: var(--primary-color);
  border-radius: 5px;
  border-width: 1px;
  color: white;
  border-style: solid;
  padding: 5px;
  transition: 0.3s;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
  font-size: small;
  text-decoration: none;
}

.viewResumeButton a {
  color: rgb(0, 0, 0);
  font-weight: 200;
  font-size: small;
  text-decoration: none;
}

.viewResumeButton:hover {
  transform: scale(1.1);
}

#emailCapture {
  margin-top: 90px;
  height: 340px;
  width: 500px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

#yourName {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 27);
  padding: 5px;
  color: white;
  font-weight: 200;
}

#yourEmail {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 27);
  padding: 5px;
  color: white;
  margin-top: 10px;
  font-weight: 200;
}

#yourMessage {
  width: 100%;
  height: 210px;
  border-radius: 5px;
  border: none;
  background-color: rgb(27, 27, 27);
  padding: 5px;
  color: white;
  margin-top: 10px;
  font-weight: 200;
  text-align: left;
  vertical-align: top;
}

#sendButton {
  background-color: rgb(28, 28, 28);
  border-color: var(--primary-color);
  border-radius: 5px;
  border-width: 0px;
  color: white;
  border-style: solid;
  padding: 5px;
  transition: 0.3s;
  text-align: center;
  margin-top: 10px;
  font-weight: 200;
  width: 50px;
  font-size: small;
}

#sendButton:hover {
  background-color: var(--primary-color);
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}

#Hspacer {
  height: 10px;
}

.landing {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 20px;
  
}

.typing-container {
  font-size: 7em;
  display: block;
  color: var(--primary-color);
  font-weight: 200;
  text-align: left;
  position: relative;
}

.cursor {
  font-weight: 500;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
